.cosmos{
    background-image:  url("img/aesthetic_background_with_light_sunset_projector_lamp_1.jpg");
}
.man{
    background-image:  url("img/e72f31dd5925ae11c64535bf01142628.jpg");
    background-size: cover;
}
.img{
    width: 20vw;
}
